CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
__pycache__
*.pyc
.idea/
cmake-build-debug/

results.json
/tools/benchmark/
/bzip2
/data/
/ref/
baselineBuild?/
solutionBuild?/
build?/
build/
.vscode/
